// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


body.logged-in header {
	top: 32px;
}

.btn-center {
	text-align: center;
}

.read-more {
	cursor: pointer;
	display: inline-block;
	margin-top: 0;
	padding: 11px 17px;
	text-transform: uppercase;
	border-radius: $border-radius;
	border-width: $border-size;
	border-style: $border-style;
	border-color: $border-color;
	font-size: 16px;
	font-weight: 600;
	background: color('brand-primary-dark');
	color: color('white');
	-webkit-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;

	&:hover,
	&.primary,
	&.hover-primary:hover {
		border-color: color('brand-primary');
		background: color('brand-primary');
		color: color('white');
	}

	&.secondary,
	&.hover-secondary:hover {
		border-color: color('brand-secondary');
		background: color('brand-secondary');
		color: color('white');
	}

	&.white,
	&.hover-white:hover {
		border-color: color('white');
		background: color('white');
		color: color('black');
	}

	@media (min-width: 1200px) {
		&.btn-lg {
			padding: 14px 26px;
			font-size: 110%;
		}
		&.btn-xl {
			padding: 16px 30px;
			font-size: 120%;
		}
	}
}
