@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/** General appointment btn */
/** theme border customization */
/** header quick links buttons variable */
/** Ninja Form with brand primary styles */
/** allocated with parent class .ninja-field--primary */
/** Ninja Form with brand secondary styles */
/** allocated with parent class .ninja-field--secondary */
/** social buttons in footer */
.text-brand-primary-light, .hover-text-brand-primary-light:hover {
  color: #87e4da;
}
.text-brand-primary, .hover-text-brand-primary:hover {
  color: #1a3047;
}
.text-brand-primary-dark, .hover-text-brand-primary-dark:hover {
  color: #00abb2;
}
.text-brand-secondary-light, .hover-text-brand-secondary-light:hover {
  color: #caf0c1;
}
.text-brand-secondary, .hover-text-brand-secondary:hover {
  color: #015d68;
}
.text-brand-secondary-dark, .hover-text-brand-secondary-dark:hover {
  color: #015d68;
}
.text-gray, .hover-text-gray:hover {
  color: #34343e;
}
.text-white, .hover-text-white:hover {
  color: #fff;
}
.text-black, .hover-text-black:hover {
  color: #000;
}
.text-error, .hover-text-error:hover {
  color: #f00;
}
.text-warning, .hover-text-warning:hover {
  color: #ffae42;
}
.text-success, .hover-text-success:hover {
  color: #008000;
}
.bg-brand-primary-light, .hover-bg-brand-primary-light:hover {
  background-color: #87e4da;
}
.bg-brand-primary, .hover-bg-brand-primary:hover {
  background-color: #1a3047;
}
.bg-brand-primary-dark, .hover-bg-brand-primary-dark:hover {
  background-color: #00abb2;
}
.bg-brand-secondary-light, .hover-bg-brand-secondary-light:hover {
  background-color: #caf0c1;
}
.bg-brand-secondary, .hover-bg-brand-secondary:hover {
  background-color: #015d68;
}
.bg-brand-secondary-dark, .hover-bg-brand-secondary-dark:hover {
  background-color: #015d68;
}
.bg-gray, .hover-bg-gray:hover {
  background-color: #34343e;
}
.bg-white, .hover-bg-white:hover {
  background-color: #fff;
}
.bg-black, .hover-bg-black:hover {
  background-color: #000;
}
.bg-error, .hover-bg-error:hover {
  background-color: #f00;
}
.bg-warning, .hover-bg-warning:hover {
  background-color: #ffae42;
}
.bg-success, .hover-bg-success:hover {
  background-color: #008000;
}
/*Slick Banner Css start*/
.banner:not(.static-content) {
  height: 65vh;
}
.banner {
  display: block;
  background-color: #f1f1f1;
}
.banner:not(.static-content) .home-slider, .banner:not(.static-content) .slick-list, .banner:not(.static-content) .slick-track {
  height: 100% !important;
}
.banner .image-src {
  height: 100%;
}
/** customization for image above and content below */
.banner .home__single--slide {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.banner .home__single--slide-content {
  transition: 0.5s ease all;
  z-index: 9;
  position: relative;
}
.banner .home__single--slide-content .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper {
  padding-top: 360px;
  width: 60%;
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper h2 {
  font-size: 70px;
  font-family: Montserrat;
  text-transform: uppercase !important;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  text-decoration: uppercase;
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper hr {
  background-color: #7a0000;
  border: 0;
  height: 3px;
  width: 60px;
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper h4 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  font-family: "Source Serif Pro";
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper .read-more {
  background: rgba(239, 130, 4, 0.7);
  font-weight: 700;
}
.banner .home__single--slide-content .wrapper .banner-content-wrapper .read-more:hover {
  background: #4d4c48;
}
.banner .home__single--slide-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.banner .home__single--slide-image .innbaner {
  display: flex;
  flex-wrap: wrap;
}
.banner .home__single--slide-image img {
  align-self: auto;
  object-position: center center;
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
.banner .home__single--slide-image img.banner-image-animation {
  overflow: hidden;
}
.banner .home__single--slide-image img.banner-image-animation img {
  animation: zoominzoomputanimationforimage 20s infinite;
  -webkit-transition: all 5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.banner .home__single--slide-content {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.banner .slick-dots {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.banner .wrapper {
  position: relative;
}
.banner .slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.banner .slick-slide .slide-image.show {
  opacity: 1;
}
.banner .slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.banner .slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
}
.banner .slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.banner .slick-slide.slick-active {
  z-index: 1;
}
.banner .slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.banner .slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}
.banner .banner-main-title {
  font-size: 55px;
}
.banner .banner-main-subtitle {
  font-size: 40px;
}
.banner .banner-main-content {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.banner .banner-content-wrapper {
  position: relative;
}
.banner .banner-link {
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 16px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 800;
  font-size: 30px;
  color: #293578;
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  .banner .banner-main-title {
    font-size: 70px;
  }
  .banner:not(.static-content) {
    height: 45vh;
  }
  .banner .home__single--slide-content {
    bottom: 100px;
  }
  .banner .home__single--slide-content {
    text-align: center;
  }
  .banner .home__single--slide-image {
    position: relative;
  }
  .banner .home__single--slide-image:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
}
@media only screen and (max-width: 1024px) {
  .banner:not(.static-content) {
    margin-top: 97px;
  }
}
@media only screen and (max-width: 992px) {
  .banner .home__single--slide-content {
    width: 100%;
    text-align: center;
  }
  .banner .banner-main-title {
    font-size: 40px;
  }
  .banner .banner-main-content {
    font-size: 23px;
  }
  .banner .banner-main-content br {
    display: none;
  }
  .banner .home__single--slide-content {
    bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .banner .banner-main-subtitle {
    font-size: 26px;
  }
  .banner .banner-link {
    font-size: 18px;
  }
  .banner:not(.static-content) {
    height: 35vh;
  }
  .banner .banner-main-content {
    font-size: 19px;
  }
}
@media only screen and (max-width: 480px) {
  .banner .banner-main-title {
    font-size: 35px;
  }
  .banner .banner-main-content {
    font-size: 17px;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 992px) and (orientation: landscape) {
  .banner:not(.static-content) {
    height: 80vh;
  }
  .banner .home__single--slide-content {
    bottom: 100px;
  }
}
.banner .overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
}
.banner-top {
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1200px) {
  .banner-top {
    height: 45vh;
  }
}
@media (max-width: 1024px) {
  .banner-top {
    margin-top: 97px;
  }
}
@media (max-width: 767px) {
  .banner-top {
    height: 35vh;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 992px) and (orientation: landscape) {
  .banner-top {
    height: 80vh;
  }
}
.banner-top .wrapper {
  height: 100%;
}
.welcome-about {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .welcome-about {
    padding: 50px 0;
  }
}
.welcome-about .image-part {
  padding-top: 32px;
}
@media (max-width: 992px) {
  .welcome-about .image-part img {
    max-width: 350px;
    width: 100%;
  }
}
.our-team-section {
  margin-top: 70px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .our-team-section {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .our-team-section {
    margin-top: 0;
    padding-bottom: 60px;
  }
}
.our-team-section:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  background-image: url('../../images/background_illustration.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 38px;
}
@media (max-width: 767px) {
  .our-team-section:after {
    display: none;
  }
}
.our-team-section .wrapper {
  z-index: 1;
}
.our-team-section .staff-details {
  border-radius: 30px;
  padding: 110px 20px 20px;
  height: 100%;
  -webkit-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  min-height: 400px;
  transition: 0.7s ease all;
}
.our-team-section .staff-details h3 {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.our-team-section .staff-details h4 {
  font-size: 17px;
  margin-bottom: 15px;
  color: #00abb2;
  line-height: 1.5;
}
.our-team-section .team-listing {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 180px;
}
@media (max-width: 767px) {
  .our-team-section .team-listing {
    margin-top: 140px;
  }
}
.our-team-section .staff-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  border: 18px solid #fff;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  z-index: 2;
}
.our-team-section .staff-content ul {
  text-align: left;
  padding-left: 20px;
}
@media (max-width: 992px) {
  .our-team-section .staff-content ul li {
    font-size: 16px;
  }
}
.our-team-section .staff-content .logos {
  display: none;
}
@media (max-width: 767px) {
  .our-team-section .staff-content .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-team-section .staff-content .logos img {
    width: 120px;
    height: 85px;
    padding: 10px;
    object-fit: contain;
    margin: 0;
  }
}
.our-team-section .staff-content-hover {
  opacity: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease all;
  transform: rotateY(180deg);
  background-color: #fff;
  border-radius: 30px;
  padding: 110px 20px 20px;
  -webkit-box-shadow: 0px 2px 9px -8px #000;
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px #000;
  text-align: left;
}
@media (max-width: 767px) {
  .our-team-section .staff-content-hover {
    display: none;
  }
}
.our-team-section .staff-content-hover ul {
  padding-left: 20px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .our-team-section .staff-content-hover ul li {
    font-size: 16px;
  }
}
.our-team-section .staff-content-hover .logos {
  display: flex;
  flex-wrap: wrap;
}
.our-team-section .staff-content-hover .logos img {
  width: 120px;
  height: 85px;
  padding: 10px;
  object-fit: contain;
  margin: 0;
}
.our-team-section .single-member {
  width: 33.33%;
  padding: 12px;
  margin-bottom: 130px;
}
@media (max-width: 1024px) {
  .our-team-section .single-member {
    width: 50%;
  }
  .our-team-section .single-member:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .our-team-section .single-member {
    width: 100%;
    margin-bottom: 110px;
  }
}
@media only screen and (min-width: 768px) {
  .our-team-section .single-member:hover .staff-details {
    transform: rotateY(180deg);
  }
  .our-team-section .single-member:hover .staff-content-hover {
    z-index: 1;
    opacity: 1;
  }
  .our-team-section .single-member:first-child .staff-content ul li:nth-of-type(1n+3), .our-team-section .single-member:nth-child(2) .staff-content ul li:nth-of-type(1n+3), .our-team-section .single-member:nth-child(3) .staff-content ul li:nth-of-type(1n+3) {
    display: none;
  }
  .our-team-section .single-member:nth-child(4) .staff-content ul li:nth-of-type(1n+4) {
    display: none;
  }
  .our-team-section .single-member:last-child .staff-content ul li:nth-of-type(1n+3) {
    display: none;
  }
  .our-team-section .single-member:last-child .staff-details {
    min-height: 440px;
  }
}
.solution-section {
  padding: 110px 0;
}
@media (max-width: 992px) {
  .solution-section {
    padding: 80px 0 0;
  }
}
@media (max-width: 767px) {
  .solution-section {
    padding: 50px 0 0;
  }
}
.solution-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-welcome.png');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.solution-section .wrapper {
  z-index: 1;
}
.solution-section .solution-content {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .solution-section .solution-content {
    padding-top: 20px;
  }
}
.value-section {
  padding: 50px 0 100px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .value-section {
    padding: 30px 0 50px;
  }
}
@media (max-width: 767px) {
  .value-section {
    padding: 30px 0 0;
  }
}
.value-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-value.png');
  background-size: 1000px;
  background-position: top 127px left;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .value-section:after {
    background-size: 650px;
  }
}
.value-section .wrapper {
  z-index: 1;
}
.value-section .value-listing {
  padding-top: 150px;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 992px) {
  .value-section .value-listing {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .value-section .value-listing {
    padding-top: 60px;
  }
}
.value-section .value-listing .detail-block {
  height: 100%;
  border-radius: 15px;
  padding: 80px 15px 30px;
  -webkit-box-shadow: 0px 2px 9px -8px #000;
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px #000;
}
@media (max-width: 992px) {
  .value-section .value-listing .single-list {
    margin-bottom: 40px;
  }
  .value-section .value-listing .single-list:last-child {
    margin-bottom: 0;
  }
}
.value-section .value-listing .icon {
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
}
@media (max-width: 992px) {
  .value-section .value-listing .icon {
    top: -35px;
    width: 100px;
    height: 100px;
  }
}
.partners-section {
  padding: 100px 0 100px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .partners-section {
    padding: 60px 0;
  }
}
.partners-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-partner.png');
  background-size: auto;
  background-position: right top -40px;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .partners-section:after {
    background-size: 300px;
    background-position: right top;
  }
}
@media (max-width: 640px) {
  .partners-section:after {
    background-size: 150px;
  }
}
.partners-section .wrapper {
  z-index: 1;
}
.partners-section .partners-listing {
  padding-top: 50px;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767px) {
  .partners-section .partners-listing {
    padding-top: 20px;
  }
}
.partners-section .partners-listing .detail-block {
  height: 100%;
  border-radius: 15px;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 2px 9px -8px #000;
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px #000;
}
@media (max-width: 767px) {
  .partners-section .partners-listing .detail-block {
    padding: 20px 15px;
  }
}
.partners-section .partners-listing .icon img {
  height: 140px;
  object-fit: contain;
  object-position: top;
}
@media (max-width: 767px) {
  .partners-section .partners-listing .icon img {
    height: inherit;
    max-height: 140px;
  }
}
.partners-section .partners-listing a {
  font-weight: 600;
}
.partners-section .partners-listing .single-list:first-child .icon img {
  width: 325px;
}
.contact-section {
  padding: 90px 0 100px;
}
@media (max-width: 992px) {
  .contact-section {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .contact-section {
    padding: 50px 0;
  }
}
.contact-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-welcome.png');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.contact-section .wrapper {
  z-index: 1;
}
.contact-section .contact-form {
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 9px -8px #000;
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px #000;
}
@media (max-width: 767px) {
  .contact-section .contact-form {
    border-radius: 35px;
  }
}
.contact-section .contact-form p {
  font-size: 19px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .contact-section .contact-form p {
    font-size: 17px;
    margin-bottom: 15px;
  }
}
.contact-section .form-block {
  width: 70%;
  padding: 50px 280px 50px 50px;
}
@media (max-width: 1200px) {
  .contact-section .form-block {
    padding: 50px 180px 50px 50px;
  }
}
@media (max-width: 1024px) {
  .contact-section .form-block {
    width: 100%;
    padding: 40px 30px 15px;
  }
}
@media (max-width: 480px) {
  .contact-section .form-block {
    padding: 30px 20px;
    text-align: center;
  }
}
.contact-section .image-block {
  width: 30%;
  background-color: #00abb2;
  padding: 15px;
}
@media (max-width: 1024px) {
  .contact-section .image-block {
    display: none;
  }
}
.contact-section .wpcf7-response-output {
  text-align: center;
}
.contact-section form input[type="text"], .contact-section form input[type="email"], .contact-section form textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid #00abb2;
  height: 60px;
  font-size: 18px;
  color: #1a3047;
  font-weight: 500;
  outline: none;
}
.contact-section form input[type="text"]::placeholder, .contact-section form input[type="email"]::placeholder, .contact-section form textarea::placeholder {
  color: #1a3047;
}
.contact-section form input[type="text"]:-ms-input-placeholder, .contact-section form input[type="email"]:-ms-input-placeholder, .contact-section form textarea:-ms-input-placeholder {
  color: #1a3047;
}
.contact-section form .submit-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.contact-section form .submit-button .ajax-loader {
  margin-top: 15px;
}
.contact-section form .submit-button input[type="submit"] {
  color: #fff;
  border: none;
  padding: 17px 20px;
  width: 310px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color: #00abb2;
  cursor: pointer;
  transition: 0.5s ease all;
}
.contact-section form .submit-button input[type="submit"]:hover {
  background-color: #1a3047;
  color: #fff;
}
@media (max-width: 767px) {
  .contact-section form .submit-button input[type="submit"] {
    width: 220px;
    font-size: 18px;
    padding: 14px 20px;
  }
}
.contact-section form .wpcf7-not-valid-tip {
  font-size: 15px;
}
.contact-section .contact-info {
  background-color: #1a3047;
  padding: 50px 30px;
  border-radius: 35px;
  left: 54%;
  top: 10%;
  width: 400px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contact-section .contact-info {
    padding: 40px 30px;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}
@media (max-width: 480px) {
  .contact-section .contact-info {
    padding: 20px;
  }
}
.contact-section .contact-info p, .contact-section .contact-info a {
  color: #fff;
}
.contact-section .contact-info a:hover {
  color: #00abb2;
}
.contact-section .contact-info p:last-child {
  margin-bottom: 0;
}
.contact-section .contact-info p {
  padding: 10px 0 10px 60px;
  background-position: left 6px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .contact-section .contact-info p {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .contact-section .contact-info p {
    font-size: 16px;
    background-size: 35px 35px;
    padding-left: 45px;
  }
}
.contact-section .contact-info p:nth-child(2) {
  background-image: url('../../images/mail.png');
}
.contact-section .contact-info p:nth-child(3) {
  background-image: url('../../images/call.png');
}
.contact-section .contact-info p:nth-child(4) {
  background-image: url('../../images/location.png');
}
.contact-section .contact-info p:nth-child(5) {
  background-image: url('../../images/clock.png');
}
.map-section iframe {
  width: 100%;
  height: 430px;
}
@media (max-width: 640px) {
  .map-section iframe {
    height: 320px;
  }
}
.blog-listing {
  padding: 30px 0 200px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .blog-listing {
    margin-top: 97px;
    padding-bottom: 130px;
  }
}
@media (max-width: 767px) {
  .blog-listing {
    padding-bottom: 60px;
  }
}
.blog-listing:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-welcome.png');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.blog-listing .wrapper {
  position: relative;
  z-index: 1;
}
.blog-listing h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #87e4da;
  display: inline-block;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .blog-listing h1 {
    margin-bottom: 15px;
  }
}
.blog-listing h1:after {
  position: absolute;
  content: '';
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #87e4da;
}
.blog-listing .d-flex {
  margin-left: -15px;
  margin-right: -15px;
}
.blog-listing .blog-image img {
  height: 230px;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-device-width: 320px) and (max-device-width: 992px) and (orientation: landscape) {
  .blog-listing .blog-image img {
    height: 350px;
  }
}
.blog-listing .blog-image:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff 0%, #1a3047 100%);
  opacity: 0.4;
}
.blog-listing .single-post {
  width: 33.33%;
  padding: 15px;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .blog-listing .single-post {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .blog-listing .single-post {
    width: 100%;
  }
}
.blog-listing .single-post h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 13px;
}
.blog-listing .single-post h2 a:hover {
  color: #00abb2;
}
.blog-listing .inner-blog {
  -webkit-box-shadow: 0px 2px 9px -8px #000;
  -moz-box-shadow: 0px 2px 9px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 9px -8px #000;
  height: 100%;
}
.blog-listing .blog-content {
  padding-bottom: 55px;
}
.blog-listing .blog-content .read-more {
  position: absolute;
  left: 50%;
  bottom: -22px;
  transform: translateX(-50%);
}
.date-with-svg {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: block;
  z-index: 1;
}
.date-with-svg:before {
  content: "";
  width: 93%;
  height: 65%;
  position: absolute;
  bottom: 2px;
  left: 3px;
  background-color: #fff;
  display: block;
  z-index: -1;
  border-bottom-right-radius: 20px;
}
.date-with-svg svg {
  fill: #00abb2;
  width: 100%;
  height: 100%;
}
.date-with-svg .cal-month {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.date-with-svg .cal-date, .date-with-svg .cal-month, .date-with-svg .cal-year {
  position: absolute;
}
.date-with-svg .cal-date {
  top: 70%;
  left: 60%;
  font-size: 17px;
  font-weight: 700;
}
.date-with-svg sup {
  top: -0.5em;
}
.date-with-svg .cal-year {
  left: -3px;
  bottom: 14px;
  transform: rotate(-90deg);
  font-size: 13px;
  font-weight: 700;
}
.blog-details {
  padding: 60px 0 200px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .blog-details {
    padding-bottom: 130px;
  }
}
@media (max-width: 767px) {
  .blog-details {
    padding: 50px 0 60px;
    margin-top: 97px;
  }
}
.blog-details:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../images/home-welcome.png');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.blog-details .wrapper {
  position: relative;
  z-index: 1;
}
.blog-details h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .blog-details h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .blog-details h1 {
    font-size: 25px;
  }
}
#content-area {
  background-color: #f4f5f7;
  height: 100%;
}
.heading {
  border-bottom: 3px solid #00abb2;
  line-height: 0.8;
}
@media (max-width: 992px) {
  .heading {
    line-height: 1.15;
  }
}
@media (max-width: 767px) {
  .heading {
    border-bottom: none;
  }
}
.heading span {
  background-color: #f4f5f7;
  padding-right: 7px;
}
@media (max-width: 767px) {
  .heading span {
    padding-right: 0;
  }
}
.content.default-page {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .content.default-page {
    margin-top: 97px;
  }
}
.fingerprint-section {
  background-color: #fff;
  padding: 100px 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .fingerprint-section {
    display: none;
  }
}
.fingerprint-section .heading span {
  background-color: #fff;
}
.fingerprint-section h3 {
  color: #015d68;
  padding-top: 10px;
}
.fingerprint-section .fingerprint-listing {
  margin-top: 50px;
}
.fingerprint-section .fingerprint-listing img {
  width: 100%;
}
.fingerprint-section .fingerprint-listing .detail-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.fingerprint-section .fingerprint-listing .single-list:first-child h4 {
  position: relative;
  z-index: 1;
}
.fingerprint-section .fingerprint-listing .single-list:first-child h4:after {
  position: absolute;
  content: '';
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 80px;
  z-index: 1;
}
@media (max-width: 1366px) {
  .fingerprint-section .fingerprint-listing .single-list:first-child h4:after {
    width: 60px;
    height: 50px;
  }
}
.fingerprint-section .fingerprint-listing .single-list:last-child h4 {
  position: relative;
  z-index: 1;
}
.fingerprint-section .fingerprint-listing .single-list:last-child h4:after {
  position: absolute;
  content: '';
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 80px;
  z-index: 1;
}
@media (max-width: 1366px) {
  .fingerprint-section .fingerprint-listing .single-list:last-child h4:after {
    width: 60px;
    height: 50px;
  }
}
.fingerprint-section .fingerprint-listing .single-list:not(:nth-child(2)) {
  padding-top: 130px;
  width: 22.5%;
}
@media (max-width: 1200px) {
  .fingerprint-section .fingerprint-listing .single-list:not(:nth-child(2)) {
    padding-top: 60px;
  }
}
@media (max-width: 992px) {
  .fingerprint-section .fingerprint-listing .single-list:not(:nth-child(2)) {
    padding-top: 0;
  }
}
.fingerprint-section .fingerprint-listing .single-list:nth-child(2) {
  width: 50%;
}
.fingerprint-section .fingerprint-listing .single-list:nth-child(2) .icon {
  padding-bottom: 30px;
}
.fingerprint-section .fingerprint-listing h4, .fingerprint-section .fingerprint-listing h5 {
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #015d68;
}
@media (max-width: 1400px) {
  .fingerprint-section .fingerprint-listing h4, .fingerprint-section .fingerprint-listing h5 {
    font-size: 21px;
  }
}
.fingerprint-section .fingerprint-listing h5 {
  font-weight: 500;
  font-size: 26px;
}
@media (max-width: 1400px) {
  .fingerprint-section .fingerprint-listing h5 {
    font-size: 21px;
  }
}
.toxicity-section {
  background-color: #fff;
  padding: 60px 0;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .toxicity-section {
    display: none;
  }
}
.toxicity-section .heading span {
  background-color: #fff;
}
.toxicity-section .d-flex {
  padding-top: 30px;
}
.toxicity-section .graph-image .graph-line {
  position: absolute;
  right: 5%;
  top: 30px;
  height: 456px;
  transition: 0.8s ease all;
}
.toxicity-section .table-image:after {
  position: absolute;
  content: '';
  right: -570px;
  top: 60px;
  width: 680px;
  height: 370px;
  background-image: url(../../images/toxicity-hand.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-25deg);
  opacity: 0.4;
}
.toxicity-section .table-image .table-box {
  position: absolute;
  left: 38.97%;
  top: 140%;
  height: 462px;
  transition: 0.8s ease all;
}
.engagement-section {
  padding: 100px 0;
  background-color: #fff;
}
.engagement-section .heading span {
  background-color: #fff;
}
.engagement-section .ibis-button {
  padding-top: 40px;
  text-align: center;
}
.engagement-section .ibis-image {
  width: 100%;
  max-width: 950px;
  margin: auto;
}
.engagement-section .ibis-image img {
  width: 100%;
}
.engagement-section #scollicon {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  position: absolute;
  z-index: 99;
}
.engagement-section .ibis-button {
  text-align: center;
  padding: 40px 150px 40px 70px;
  margin-top: 20px;
  border-radius: 70px;
  display: inline-block;
  background: linear-gradient(to right, #f4f7f8 0%, #4ab4bb 100%, #4ab4bb 100%);
  position: relative;
}
.engagement-section .ibis-button h2 {
  display: inline-block;
  margin: 0;
}
.engagement-section .ibis-button .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding: 10px 50px;
  background: #ebecf0;
  border-radius: 70px;
}
.engagement-section .ibis-button .circle img {
  width: 110px;
  height: 110px;
}
.engagement-section .engagement-listing img {
  width: 180px;
}
.engagement-section .engagement-listing ul {
  padding-left: 20px;
}
.engagement-section .engagement-listing ul li {
  font-size: 16px;
}
.integrated-section {
  position: relative;
  background-color: #fff;
  padding: 70px 0;
}
.integrated-section .integrated-image {
  border: 20px solid #f4f5f7;
}
.integrated-section .integrated-image .image-src {
  padding-top: 0;
  height: 100%;
}
.integrated-section .heading-part {
  padding-left: 40px;
  margin-bottom: 35px;
}
.integrated-section .heading-box {
  width: 200px;
  height: 90px;
  background-color: #87e4da;
  margin-bottom: 35px;
}
.integrated-section .integrated-listing {
  padding-right: 20px;
  overflow: hidden;
}
.integrated-section .integrated-listing h4 {
  color: #fff;
  font-size: 28px;
  padding-left: 60px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  margin-bottom: 0;
  position: relative;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
}
.integrated-section .integrated-listing .single-list {
  margin: 0 0 0 -20px;
  overflow: hidden;
  position: relative;
}
.integrated-section .integrated-listing .single-list[data-aos=fade-right] {
  transform: translate3d(-100px, 0, 0);
}
.integrated-section .integrated-listing .single-list[data-aos^=fade][data-aos^=fade].aos-animate {
  -webkit-transform: skew(-20deg) translateZ(0);
  -moz-transform: skew(-20deg) translateZ(0);
  -o-transform: skew(-20deg) translateZ(0);
  transform: skew(-20deg) translateZ(0);
}
.integrated-section .integrated-listing .single-list:nth-child(even) {
  background-color: #015d68;
}
.integrated-section .integrated-listing .single-list:nth-child(odd) {
  background-color: #00abb2;
}
.problem-effect-section {
  position: relative;
  background-color: #fff;
  padding: 70px 0;
}
.problem-effect-section .heading span {
  background-color: #fff;
}
.problem-effect-section .problem-effect-listing {
  background-image: url(../../images/effect-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.problem-effect-section .problem-effect-listing .single-list {
  padding: 10px;
}
.problem-effect-section .problem-effect-listing .single-list img {
  width: 200px;
}
.problem-effect-section .problem-effect-listing .single-list h4 {
  margin-top: 50px;
  margin-bottom: 0;
}
.reality-section {
  position: relative;
  background-color: #fff;
  padding: 70px 0;
}
.reality-section .heading span {
  background-color: #fff;
}
.reality-section .drug-image {
  text-align: center;
}
.reality-section .drug-image h3 {
  font-weight: 500;
}
.the-solution-section {
  position: relative;
  background-color: #fff;
  padding: 70px 0;
  overflow: hidden;
}
.the-solution-section .heading span {
  background-color: #fff;
}
.the-solution-section .the-solution-content {
  padding-top: 40px;
  padding-bottom: 50px;
}
.the-solution-section .the-solution-listing:before {
  position: absolute;
  content: '';
  left: -580px;
  top: -30px;
  width: 730px;
  height: 520px;
  background-image: url(../../images/hand.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.the-solution-section .the-solution-listing h4 {
  color: #015d68;
}
.the-solution-section .the-solution-listing h4 span {
  color: #00abb2;
  font-size: 35px;
  margin-right: 20px;
}
.the-solution-section .the-solution-listing .single-list:first-child {
  padding-left: 50px;
}
.the-solution-section .the-solution-listing .single-list:first-child h4 {
  cursor: pointer;
  display: inline-block;
}
.the-solution-section .the-solution-listing .single-list:nth-child(2) {
  padding-left: 120px;
}
@media (max-width: 1200px) {
  .the-solution-section .the-solution-listing .single-list:nth-child(2) {
    padding-left: 60px;
  }
}
@media (max-width: 992px) {
  .the-solution-section .the-solution-listing .single-list:nth-child(2) {
    padding-left: 100px;
  }
}
.the-solution-section .the-solution-listing .single-list:nth-child(3) {
  padding-left: 120px;
}
@media (max-width: 1200px) {
  .the-solution-section .the-solution-listing .single-list:nth-child(3) {
    padding-left: 60px;
  }
}
@media (max-width: 992px) {
  .the-solution-section .the-solution-listing .single-list:nth-child(3) {
    padding-left: 100px;
  }
}
.the-solution-section .the-solution-listing .single-list:last-child {
  padding-left: 50px;
}
.the-solution-section .solution-image {
  overflow: hidden;
}
.the-solution-section .table-box-left {
  position: absolute;
  left: 16.7%;
  top: 100%;
  width: 47px;
  height: 490px;
  transition: 0.8s ease all;
  z-index: 1;
}
.the-solution-section .table-box-right {
  position: absolute;
  left: 63.2%;
  top: 100%;
  width: 47px;
  height: 490px;
  transition: 0.8s ease all;
  z-index: 1;
}
.the-solution-section .table-box-center {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 350px;
  height: auto;
  transition: 0.8s ease all;
  z-index: 1;
}
.the-solution-section .solution-graph-image.blur-img, .the-solution-section .table-box-left.blur-img, .the-solution-section .table-box-right.blur-img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}
body > div[style*="clear"] {
  height: 0 !important;
  overflow: hidden;
}
.toxicity-section.new-section .table-image .table-box {
  height: 680px;
  width: 42px;
}
.toxicity-section.new-section .graph-image .graph-line {
  right: 3.7%;
  top: 15px;
  height: 450px;
}
.toxicity-section.new-section .table-image:after {
  background-image: url(../../images/toxicity-hand-new.png);
  opacity: 0.9;
}
.toxicity-section.new-section .graph-image {
  margin: 100px 0;
}
.toxicity-section.new-section .table-image {
  cursor: pointer;
}
.toxicity-section.new-section .table-image:after {
  display: none;
}
.toxicity-section.new-section .table-button {
  position: absolute;
  left: 30%;
  bottom: 200px;
  transform: translateX(-50%);
  width: 80px;
}
.the-solution-section.new-section .table-box-left {
  width: 30px;
  height: 460px;
  left: 28.6%;
}
.the-solution-section.new-section .table-box-right {
  width: 30px;
  height: 460px;
  left: 61.2%;
}
.fingerprint-section.new-section .fingerprint-listing .single-list:not(:nth-child(2)) img {
  height: 200px;
}
.fingerprint-section.new-section .fingerprint-listing .single-list:first-child h4:after {
  right: -70px;
}
/** 404 CSS */
.content-404 {
  width: 100%;
  display: block;
  text-align: center;
  padding: 60px 0 80px;
}
.content-404 ul {
  margin: 0;
  padding: 0;
}
.content-404 li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-404 h2 {
  margin: 15px 0 30px;
}
.content-404 .note-404 {
  margin-top: 30px;
}
.content-404 .note-404 span {
  color: #6e6e83;
  font-size: 60px;
  font-weight: 300;
  display: block;
}
