/** social media */

.socialmedialinks {
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		@include breakpoint(480px) {
			justify-content: center;
		}
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;

		&:first-child {
			margin-left: 0;
		}
		margin-left: 10px;

		a {
			padding: 12px;
			background-color: $footerSocialBG;
			border-radius: 100%;
			display: block;
			line-height: 0;
		}

		svg {
			fill: $footerSocialColor;
	    width: 26px;
	    height: 26px;
			display: block;
		}

		&:hover {
			a {
				background-color: $footerSocialBGHover;
			}

			svg {
				fill: $footerSocialColorHover;
			}
		}
	}
}
